In [1]:
import pymyql as py
print('done')

ModuleNotFoundError: No module named 'pymyql'

In [ ]:
!pip install PyMySQL

In [1]:
import pymysql as py
print('done' )

done

In [2]:
conn =py.connect(user='root',
          password='2005',
           host='localhost',
           autocommit =True)
print('connection establised')

connection establised

In [3]:
cur=conn.cursor()
print('done')

done

In [5]:
query='''use IITM_day5;'''
cur.execute(query)
print('done')

done

In [4]:
query='''create database IITM_day5;'''
cur.execute(query)
print('done')

ProgrammingError: (1007, "Can't create database 'iitm_day5'; database exists")

In [ ]:
query='''create table student_detail
(
SID int not null,
student_name varchar(50),
course varchar(50),
address varchar(50),
scholarship int
);'''
cur.execute(query)
print('done')

In [6]:
query=''' insert into student_detail
values (101,"khachri","bca","janakpuri",5000),
(102,"khachr1i","bca","janakpuri",5000);''' 
cur.execute(query)
print('done')

done

In [7]:
n = 3
for i in range(n):
    sid = int(input('Enter Roll No/SID: '))
    name = input('Enter your Name: ')
    course = input('Enter your Course: ')
    address = input('Enter your Address: ')
    scholarship = float(input('Enter your scholarship in RS: '))

    q = f'''insert into student_detail values
    ({sid},"{name}","{course}","{address}",{scholarship});'''

    cur.execute(q)
    print('Record Inserted Successfully!!')
print('Done')

Enter Roll No/SID:  101
Enter your Name:  dimple
Enter your Course:  bca
Enter your Address:  maujpur
Enter your scholarship in RS:  5000

Record Inserted Successfully!!

Enter Roll No/SID:  104
Enter your Name:  kirti
Enter your Course:  mca
Enter your Address:  johripur
Enter your scholarship in RS:  150

Record Inserted Successfully!!

Enter Roll No/SID:  111
Enter your Name:  janvi
Enter your Course:  bca
Enter your Address:  rohini
Enter your scholarship in RS:  1400

Record Inserted Successfully!!
Done

In [9]:
query = '''select * from student_detail;'''
cur.execute(query)

records = cur.fetchall()

all_columns = []
for i in cur.description:
    all_columns.append(i[0])


import pandas as pd
pd.DataFrame(records,columns=all_columns)

   SID student_name course    address  scholarship
0  101      khachri    bca  janakpuri         5000
1  102     khachr1i    bca  janakpuri         5000
2  101      khachri    bca  janakpuri         5000
3  102     khachr1i    bca  janakpuri         5000
4  101       dimple    bca    maujpur         5000
5  104        kirti    mca   johripur          150
6  111        janvi    bca     rohini         1400

In [ ]:
def show_records(db,table):
    query='''select * from {db}.{table};'''
    cur.execute(query)
    
    for i in cur.description:
        print(i)
    
    record =cur.fetchall()
    
    all_columns = []
    for i in cur.description:
        all_columns.append(i[0])
    all_columns
    
    
    
    import pandas as pd
    df=pd.DataFrame(record,columns=all_columns)
    return df